doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.header-links
      a(href="/") Main page 
      a(href="/register") Sign up 
      a(href="/login") Log in 
      a(href="/signout") Sign out
    div(style="float: right; width: 220px; height: 100px;background: lightgray; padding: 20px 10px").
      This site is just an example, it uses<br>
      NodeJS Express & MongoDb<br><br>
      You can find source on <a href="https://github.com/kofon95/nodejs-auth-example">github</a>
    block content
