doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.header-links
      a(href="/") Main page 
      a(href="/register") Sign up 
      a(href="/login") Log in 
      a(href="/signout") Sign out
    block content
